USE [UNIVER1]
GO
/****** Object:  StoredProcedure [dbo].[PSUBJECT]    Script Date: 27.05.2025 9:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[PSUBJECT] @p varchar(20), @c int output
as
begin
declare @k int = (select count(*) from SUBJECT);
		print 'Параметры: @p =' + @p + ',@c' + cast(@c as varchar(3));
		select * from SUBJECT where SUBJECT.PULPIT = @p;
		set @c = @@ROWCOUNT;
		return @k;
END;
go

declare @k int = 0, @r int = 0, @p varchar(20);
exec @k = PSUBJECT @p ='ИСиТ', @c = @r output;
print 'Кол-во строк всего: ' + cast(@k as varchar(3));
print 'Кол-во строк с кафедрой: ' + @p + '= ' +cast(@r as varchar(3));